/* CSS Document */
/* For Channel and article pages only*/
.T2_CA {
	background-image:url(http://image.ceconline.com/T2_CA.png);
	background-repeat: no-repeat;
}
.articleBd{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:3px solid #039;
}
.CA_subNav {
	padding:5px 0 2px 10px;
	color:#000066;
}
.CA_ads {
	text-align:center;
}
.CA_articleTitle {
	padding:30px 0 0 0;
	text-align:center;
	font:24px normal "微软雅黑","SimSun","宋体";
	font-family:"微软雅黑","SimSun","宋体";
}
.CA_articleTitle .version {
	font-size:12px;
	font-weight:bold;
}
.CA_articleContent {
	border:solid 1px #C4C4C4;
	border-top:none;
	padding:1px 25px 0 25px;
	height:1%;
	font-size:14px;
	line-height:25px;
}
.CA_articleContent .subTitle {
	text-align:center;
	font-size:14px;
}
.CA_articleContent  p{
	font-size:14px;
	line-height:25px;
	padding:5px 0;
}
.CA_bottomLine {
	height:5px;
	width:680px;
	line-height:5px;
	overflow:hidden;
	background-position:0 -76px;
}
.CA_summary {
	background-color:#f7f7f7;
	margin-top:5px;
	padding:5px 15px;
	line-height:18px;
	color:#3A3A3A;
	font-size:12px;
}
.CA_info {
	color:#3A3A3A;
	text-align:center;
	padding:10px 0 15px 0;
	font-size:12px;
}
.CA_infoSec {
	color:#666;
	font-size:12px;
	line-height:22px;
	height:22px;	
	padding:0 0 0 6px;
	text-align:center
}
/*mr6584*/
.CA_infoSec_name{width:160px; float:left;line-height:22px;height:22px; overflow:hidden;}
.CA_infoSec2 {color:#3A3A3A;font-size:12px;line-height:22px;height:22px;margin-bottom:5px;padding:5px 0 8px 6px;border-bottom:1px dashed #ccc;position: relative;}
.CA_infoSec2 .fleft {float:left;height:30px;}
.CA_articleOptions {
	background:#eee;
	overflow:hidden;
	border-top:1px solid #ccc;
	font-size:12px;
	margin:0 -25px
}
.CA_articleOptions .optionList{
	line-height:22px;
	padding:10px 0;
}
.CA_articleOptions .pre, .CA_articleOptions .next{
	width:300px;
	height:30px;
	line-height:30px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;

}
.CA_articleOptions .pre{
	padding:0 0 0 10px;
	float:left;
}
.CA_articleOptions .next{
	padding:0 10px 0 0;
	float:right;
	text-align:right;
}

.CA_articleOptions .leftArrow, .CA_articleOptions .rightArrow{border-width:4px}

.CA_conTitle {
    height:38px;
	padding:0 15px 0 25px;
	border-top: 3px solid #003399;
	border-bottom:1px solid #ccc; 
	font-size:14px;
	color:#990000;
	font-weight:bold;
	background:url(http://image.ceconline.com/T2_frame.png) no-repeat 0 -1105px;
	line-height:38px;
}
.CA_conTitle a {
	font-size:12px;
	font-weight:normal;
}
.CA_conTitle span {
	float:right;
}
.CA_conTitle_sub {
	width:654px;
	height:18px;
	padding:7px 10px 0 10px;
	font-size:14px;
	color:#990000;
	font-weight:bold;
	background-position:0 -117px;
	margin:0 2px;
}
.CA_conTitle_sub span {
	float:right;
	font-size:12px;
	color:#000;
	font-weight:normal;
}
.CA_conMain {
	border-left:solid 1px #fff;
	border-right:solid 1px #fff;
	height:1%;
	position:relative;
}
.CA_conMain .comForm {
	padding:10px 15px;
	line-height:18px;
}
.CA_conMain .comForm .left {
	float:left;
	width:12%;
	font-weight:bold;
	color:#7D7D7D;
	margin-top:10px;
}
.CA_conMain .comForm .right {
	margin-top:10px;
}
.CA_conMain .comForm .right .commentText {
	border:solid 1px #A5ACB2;
	font-size:12px;
	padding:5px;
	height:100px;
	width:635px;
}
.CA_conMain .comForm .submit {
	clear:both;
	padding-top:10px;
	text-align:center;
}
.CA_conMain .comForm .submit img {
	vertical-align:middle;
}
.CA_conMain .comForm .submit input {
	vertical-align:middle;
}
.CA_conMain .comFrame {
	width:678px; 
	height:225px;
}
.CA_conMain .connectSina {
	color:#7d7d7d;
	float:right;
	position:absolute;
	top:5px;
	right:15px;
	background:url(http://image.ceconline.com/T2_btn.png) -104px 0px no-repeat;
}
.CA_conMain .connectSina img {
	vertical-align:middle;
}
.CA_conMain .listEle {
	padding:1px 2px;
}
.CA_conMain .listEle dt {
	line-height:22px;
	padding:8px 15px 0 23px;
	font-weight:bold;
	
	background-image:url(http://image.ceconline.com/blue_dot.gif);
	background-repeat:no-repeat;
	background-position:15px 16px;
}
.CA_conMain .listEle dt span {
	float:right;
	font-weight:normal;
}
.CA_conMain .listEle dd {
	line-height:18px;
	padding:0 15px 8px 15px;
}
.CA_conMain .listEle .bg{
	background-color:#F4F4F4;
}
.reply_summary {	color:#7D7D7D;	line-height:24px;}
.reply_summary span {	float:right;}

.CA_comFrame {
	border:solid 1px #CCC; 
	margin-left:20px; 
	height:165px; 
	width:640px; 
	overflow-x:hidden; 
	overflow-y:scroll;
}
.CA_comFrame  .noComments {
	padding:60px 0 0 30px;
	color:#C4C4C4;
	font-weight:bold;
	font-size:14px;
}
.CA_comList {
	padding:0 15px;
}
.CA_comList_bg {
	background:#F5F4F4;
}
.CA_comList dt {
	color:#7D7D7D;
	padding:5px 0;
}
.CA_comList dt span{
	float:right;
}
.CA_comList dd {
	line-height:18px;
	padding:0 0 5px 0;
}

/*List style*/
.CA_box_list {
	float:left;
	width:50%;
}
.CA_box_list h3 {
	font-size:12px;
	line-height:20px;
}
.CA_box_list p {
	line-height:18px;
}
.CA_artList_one {
	padding-left:10px;
	float:left;
	list-style:none;
	
	background-image:url(http://image.ceconline.com/T2_icon.png);
	background-repeat: no-repeat;
	background-position:-480px -357px;
}
.CA_artList_one li {
	width:310px;
	padding-left:15px;
	line-height:24px;
	
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.CA_artList_two {
	padding-left:10px;
	list-style:none;
	background-image:url(http://image.ceconline.com/T2_icon.png);
	background-repeat: no-repeat;
	background-position:-480px -357px;
	font-size:12px
}
.CA_artList_two li {
	width:300px;
	padding-left:15px;
	_padding-bottom:3px;
	_padding-top:3px;
	line-height:24px;
	
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}



.CA_listBox {
	width:336px;
	float:left;
	overflow:hidden;
}
.CA_listBox .title {
	height:20px;
	padding:7px 0 0 15px;
	font-size:14px;
	color:#990000;
	font-weight:bold;
	background-position:0 -155px;
}
.CA_listBox .con {
	border-left:solid 1px #fff;
	border-right:solid 1px #fff;
	height:1%;
}
.CA_listBox .bottom {
	height:5px;
	line-height:5px;
	overflow:hidden;
	background-position:0 -189px;
}

/*channel*/
.CA_outline {
	height:30px;
	width:620px;
	padding:20px 30px;
	line-height:18px;
	overflow:hidden;
	background-position:0 -227px;
}
.CA_outline img {
	float:left;
	margin-right:35px;
}

.CA_recBox {
	float:left;
	width:194px;
	line-height:18px;
}
.CA_recBox h3 {
	font-weight:bold;
	font-size:14px;
}
.CA_recBox img {
	margin-bottom:8px;
	vertical-align:bottom;
}

.CA_recList {
	list-style:none;
}
.CA_recList li {
	float:left;
	width:310px;
	padding:14px 13px 0 13px;
	line-height:18px;
}
.CA_recList li img {
	float:left;
	margin:-4px 8px 8px 0;
}
.CA_column {
	width:340px;
	float:left;
	overflow:hidden;
}
.CA_column_bottom {
	height:7px;
	line-height:7px;
	clear:both;
	background-position:0 -443px;
}
.CA_h3_left_main {
height:38px;
padding:0 15px 0 25px;
	border-top: 3px solid #003399;
	border-bottom:1px solid #ccc; 
	font-size:14px;
	color:#990000;
	font-weight:bold;
	background:url(http://image.ceconline.com/T2_frame.png) no-repeat 0 -1105px;
	line-height:38px;
}
.CA_h3_left_main span {
	font-weight:normal;
	font-size:12px;
	float:right;
}
.CA_h3_left_son {
height:38px;
padding:0 15px 0 25px;
	border-top: 3px solid #003399;
	border-bottom:1px solid #ccc; 
	font-size:14px;
	color:#990000;
	font-weight:bold;
	background:url(http://image.ceconline.com/T2_frame.png) no-repeat 0 -1105px;
	line-height:38px;
}
.CA_h3_left_son span {
	font-weight:normal;
	font-size:12px;
	float:right;
}
.CA_h3_right_main {
height:38px;
	margin-left:10px;
padding:0 15px 0 25px;
	border-top: 3px solid #003399;
	border-bottom:1px solid #ccc; 
	font-size:14px;
	color:#990000;
	font-weight:bold;
	background:url(http://image.ceconline.com/T2_frame.png) no-repeat 0 -1105px;
	line-height:38px;
}
.CA_h3_right_main span {
	font-weight:normal;
	font-size:12px;
	float:right;
}
.CA_h3_right_son {
height:38px;
	margin-left:10px;
padding:0 15px 0 25px;
	border-top: 3px solid #003399;
	border-bottom:1px solid #ccc; 
	font-size:14px;
	color:#990000;
	font-weight:bold;
	background:url(http://image.ceconline.com/T2_frame.png) no-repeat 0 -1105px;
	line-height:38px;
}
.CA_h3_right_son span {
	font-weight:normal;
	font-size:12px;
	float:right;
}

.CA_column_left {
	border-left:solid 1px #fff;
	border-right:solid 1px #fff;
}
.CA_column_right {
	border-right:solid 1px #fff;
}

.CA_column_boxA {
	padding:12px 18px 2px 18px;
	width:302px;
	height:250px;
	overflow:hidden;
}
.CA_column_boxA img {
	vertical-align:bottom;
	margin-bottom:4px;
}
.CA_column_boxA h3 {
	font-size:12px;
	line-height:20px;
}
.CA_column_boxA p {
	padding:0 0 4px 0;
	line-height:18px;
}


.CA_column_boxB {
	padding:12px 18px 2px 18px;
	width:302px;
	height:280px;
	overflow:hidden;
}
.CA_column_boxB img {
	vertical-align:bottom;
	margin-bottom:4px;
}
.CA_column_boxB h3 {
	font-size:12px;
	line-height:20px;
}
.CA_column_boxB p {
	padding:0 0 4px 0;
	line-height:18px;
}





	/*innerBox style*/
	
.CA_box_col_A {
	width:64px;
	float:left;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	font-weight:bold;
	text-align:center;
}
.CA_box_col_B {
	float:left;
	width:228px;
	margin-left:10px;
}
.CA_box_col_B h3 {
	width:100%;
	
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.CA_img_left {
	float:left;
	margin-right:10px;
}


.CA_list_normal {
	list-style:none;
	background-image:url(http://image.ceconline.com/T2_icon.png);
	background-repeat: no-repeat;
	background-position:-490px 6px;
	
}
.CA_list_normal li {
	padding:0 0 0 15px;
	width:287px;
	line-height:25px;
	
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.CA_list_order {
	list-style:none;
	background-image:url(http://image.ceconline.com/T2_icon.png);
	background-repeat: no-repeat;
	background-position:-91px -357px;
}
.CA_list_order li {
	padding:0 0 0 18px;
	width:291px;
	line-height:24px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.CA_dashedLine_A {
	border-bottom:dashed 1px #CCC; 
	height:3px; 
	line-height:3px; 
	overflow:hidden; 
	margin-bottom:5px;
	clear:both;
}


/*订阅*/
.CA_subTitle {
	height:5px;
	line-height:5px;
	overflow:hidden;
	background-position:0 -200px;
}
.CA_subBottom {
	height:6px;
	line-height:6px;
	overflow:hidden;
	background-position:0 -209px;
}

.CA_subCon {
border-left:solid 1px #C4C4C4;
border-right:solid 1px #C4C4C4;
background-color:#e1e4f5;
zoom:1;
padding:0 20px;
}

.CA_subCon h3 {
	color:#990000;
	font-size:14px;
	font-weight:bold;
	border-bottom:solid 1px #990000;
	text-align:center;
	line-height:28px;
}
.CA_subCon .con {
	border-top:solid 1px #FFF;
	padding:0 12px;
	line-height:22px;
}
.CA_subCon .con .subCat {
	margin-left:15px;
}
.CA_subCon .con .subCat td {
	width:70px;
}
.CA_subCon .con .submit {
	text-align:center;
	margin-top:15px;
}
.CA_subCon .con .submit input{background:url(http://image.ceconline.com/T2_btn.png) left -50px no-repeat;}
.CA_subCon .con input {
	margin:0;
	padding:0;
	vertical-align:middle;
}
.CA_subCon .con label{
	vertical-align:middle;
	line-height:22px;
	padding-top: 2px;
	margin-left: -6px;
}
table td{padding-right: 10px}
table td label{padding-left: 6px; vertical-align: bottom; line-height:12px;}
	
/* recommend */
.CA_rec {
	display:none;
	position:absolute;
	display:none;
	width:115px; 
}
.CA_rec .topPointer {
	background-image:url(http://image.ceconline.com/T2_CA.png);
	background-repeat: no-repeat;
	height:4px;
	overflow:hidden;
	background-color:#F00; 
	background-position:0 -479px;
}
.CA_rec .linkBox {
	background-color:#F8F8F8; 
	border-left:solid 1px #615969;
	border-right:solid 1px #615969;
	border-bottom:solid 1px #615969;
}
.CA_rec .linkBox  a {
	line-height:22px;
	display:block;
	padding:0 0 0 5px;
}
.CA_rec .linkBox  a:hover{
	background-color:#DEE1FE;
	color:#000;
}

	/*定义广告位*/
	
.ads_article_pet {
	float:left;
	height:105px;
	width:1px;
}
.ads_article_inner {
	float:left;
	height:250px;
	width:320px;
	padding:20px 0 10px 0;
}
/*article Share ico*/

.article_Share_sites {color:#000000;line-height:16px;height:16px;border-top:#cccccc 1px dashed;padding:8px 0;font-size:12px;}
.article_Share_sites ul{width:116px; float:left;}
.article_Share_sites li {list-style:none;float:left;padding:0;margin-right:5px;}
.shareIcon, .share_sina, .share_tencent, .share_kx, .share_ren,.share_qq, .share_hi, .share_google, .share_bai, .share_db, .share_bai, .share_myspace, .share_sohu, .share_WeChat, .share_email, .shareMoreIcon{background:url(http://image.ceconline.com/ShareIcon.png) no-repeat;}
.shareIcon{display:inline-block;width:24px;height:16px;margin-right:3px}
.share_sina{background-position:0 -99px;}
.share_tencent{background-position:0 -151px;}
.share_kx{background-position:0 -280px;}
.share_ren{background-position:0 -256px;}
.share_qq{background-position:0 -45px;}
.share_hi{background-position:0 -177px;}
.share_google{background-position:0 -180px;}
.share_bai{background-position:0 -308px;}
.share_db{background-position:0 -230px;}
.share_myspace{background-position:0 -332px;}
.share_sohu{background-position:0 -205px;}
.share_WeChat{background-position:0 -71px;}
.share_email{background-position:0 -124px;}
.shareMoreIcon{display:inline-block;width:24px;height:24px;background-position:0 -21px;}
.article_Share_sites li a {display:block;width:24px;height:24px;}
.article_Share_sites .fleft{height: 30px; display: inline-block; width: 26px;}
.shareTxt{color:#666;vertical-align:5px;*vertical-align:2px}
.shareTxtWrap{float:left;margin-top:4px}
.loginFormBtn, .regFormBtn{background:url(http://image.ceconline.com/navMenu.png) repeat-x 0 -80px;}
.loginFormBtn{display:inline-block;margin-top:2px;padding:0 10px;height:20px;line-height:20px;color:#fff;background:url(http://image.ceconline.com/navMenu.png) repeat-x 0 -80px;cursor:pointer}
.loginFormBtn:hover{color:#fff;}
.regFormBtn{background-position:left top; margin-left:25px;} 
.share_sns_frame {position:absolute;display:none;padding:0 0 5px;width:230px;background-color:#FFF;border:solid 1px #CCC;z-index:2;right:-204px;top:29px;}
.share_sns_frame h3 {
	background-color:#F2F2F2;
	height:24px;
	line-height:24px;
	font-size:12px;
	padding:0 0 0 6px;
	margin:0;
}
.share_sns_frame ul {
	list-style:none;
	margin:5px 0 5px 10px;
}
.share_sns_frame ul li {
	float:left;
	margin-bottom:5px;
	padding-left:30px;
	width:70px;
}

/*Search engine*/
.Search_engine {
	border:#e8f0f7 1px solid;
	line-height:30px;
	font-size:14px;
	color:#333333;
	background:#FFFFFF;
}
.Search_engine_line {
	border:#c2d6ed 1px solid;
	padding:10px;
}
.Search_engine a {
	font-weight:700;
}
/*copyInfo*/
.copyInfo {
	color:#3a3a3a;
	font-size:12px;
	line-height:15px;
}
.copyInfo a:link {
	color:#3a3a3a;
}
.copyInfo a:hover {
	color:#cc0000;
}
.copyInfo a span.Aslink {
	color:#000066;
}
.copyInfo a:hover span.Aslink {
	color:#cc0000;
}

/*Selected export training course*/
.ietVideoTop {
	height:auto;
	padding:10px;
}
.ietVideoTop .mainVideo {
	background:url(http://image.ceconline.com/ietVideo_01.jpg) no-repeat;
	width:320px;
	height:240px;
	padding:13px 14px 30px;
	float:left;
}
.ietVideoTop .mainText {
	line-height:20px;
	float:right;
	width:300px;
	padding-top:8px;
}
.ietVideoTop .mainText h3 {
	font-size:14px;
}
.ietVideoTop .mainText h4 {
	font-size:12px;
	padding-top:10px;
}
.ietVideo_list {
	margin-left:18px;
}
.ietVideo_list div{
	color:#666666;
	display:inline;
	float:left;
	line-height:14px;
	margin:0px 18px;
	width:124px;
}

.SUV_H2 {
	color:#990000;
	font-size:14px;
	line-height:28px;
	padding:0 6px;
	background-color:#ECECEC;
	border-bottom:solid 1px #FFF;
}
.SUV_desc {
	background-color:#EEE;
	color:#555;
	padding:6px;
	line-height:18px;
}
.SUV_desc  p {
	padding:2px 0;
}
.SUV_title {
	background-color:#ECECEC;
	padding:0 6px;
	font-weight:bold;
	line-height:26px;
	border-bottom:solid 1px #FFF;
}
.SUV_optionList {
	list-style:none;
	background-color:#F9F9F9;
}
.SUV_optionList li {
	padding:0 0 0 22px;
	line-height:22px;
}
.SUV_option {text-align:center; padding:8px 0;}
.SUV_more {text-align:right; line-height:18px; padding:0 8px;}

.ext_area_sts{position:relative;font-size:12px;margin:0 0px 0px 0px;padding:5px 0;border-top:1px dashed #ccc;border-bottom:1px dashed #ccc;background:#F7F7F7}
.ext_area_sts img{margin-bottom:-5px;}
.but_icon, .favorite_icon, .print_icon, .xml_icon, .vote_icon, .usefulIcon, .uselessIcon, .tagIcon{background:url(http://image.ceconline.com/T2_post_icon.png) no-repeat;}
.but_icon{ background-position:left top;}
.favorite_icon{background-position:left -20px;}
.print_icon{background-position:left -40px;}
.xml_icon{background-position:left -60px;}
.vote_icon{background-position:left -80px;}
.usefulIcon{display:inline-block;margin-right:3px;width:21px;height:21px;background-position:0 -205px;vertical-align:-5px}
.uselessIcon{display:inline-block;margin-right:3px;width:21px;height:21px;background-position:0 -223px;vertical-align:-5px}
.tagIcon{display:inline-block;width:20px;height:20px;background-position:0 -185px;vertical-align:middle}
.tagCont{margin-top:5px;font-size:12px}
.RelatedarticleFrame {background:#EEE;padding:8px 8px 5px;font-size:12px;border: 1px solid #E0E0E0;}.RelatedarticleFrame h2 {font-size:14px;}
.RelatedArtList { list-style: none outside none;margin-bottom: 0;margin-left: 0; margin-top: 0;padding-bottom: 0;padding-left: 0;padding-top: 5px;width:280px; overflow:hidden;}.RelatedArtList li { width:280px; overflow:hidden;height:24px;}
.btBor{margin:0 0 0 10px;padding:5px 10px;height:16px;border-left:1px dashed #ccc;border-right:1px dashed #ccc;*margin-top:2px}


/*右边浮动分享块*/
*{ padding:0px; margin:0px;}
*html{background-image:url(about:blank);background-attachment:fixed;}
/*解决IE6下滚动抖动的问题*/
/*解决IE6下不兼容 position:fixed 的问题*/

#code{width:42px; height:188px; position:fixed; left:50%;top:50%;margin:-125px 0 0 500px; z-index:999;border:1px solid #ccc;border-top:2px solid #039;background:#fff;}
#code .floatShare{margin-bottom:5px;padding:5px 0;color:#666;text-align:center;border-bottom:1px solid #ccc}
#code .shareMore{width:100%;padding:2px 0;border-top:1px solid #ccc}
#code .shareMoreIcon{margin:0 auto;}
#code img{border:none}
#code ul li{list-style:none;width:24px; height:24px; margin:0 auto 8px;text-align:center;}
#code ul li a{ cursor:pointer; display:block; width:24px; height:24px;}
#code .share_sns_frame{right:0;top:185px;}
#code .share_sns_frame li{width:70px;padding-left:30px;margin-bottom:5px}
#code .share_sns_frame a{width:auto;line-height:24px;text-align:left}
/*
#code_img{background:url(http://image.ceconline.com/shareImg.png) no-repeat;}
#code_img{width:227px;height:148px;z-index:999;padding-right:8px;background-position:-33px 0;position:fixed; right:25px; bottom:245px; display:none;
_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:245px; }

#code_img ul{width:221px;height:135px;padding:17px 0 0 10px}
#code_img ul li{list-style:none;width:100px;height:18px;float:left;margin:0 0 7px 10px;_margin:0 0 7px 5px}

#code_img ul li a{color:#565656; font-size:12px; display:block; width:100px; height:26px; text-decoration:none}
#code_img ul li a:hover, #code_img ul li a:hover span{color:#cc0000}

#code_img ul li a span{ display:block; padding:0 0 0 20px; float:left; border:none; cursor:pointer}
*/

.newshare_sina{background-position:left -40px;}
.newshare_tencent{background-position:left -60px;}
.newshare_kx{background-position:left -280px;}
.newshare_ren{background-position:left -260px;}
.newshare_qq{background-position:left -140px;}
.newshare_hi{background-position:left -160px;}
.newshare_google{background-position:left -180px;}
.newshare_db{background-position:left -220px;}
.newshare_bai{background-position:left -200px;}
.newshare_myspace{background-position:left -240px;}
.newshare_sohu{background-position:left -120px;}

.relaArt{width:auto; display:inline-block;height:35px; background:#f8f9d7;line-height:35px;border:1px solid #ccc;text-align:center;font-weight:bold;padding:0px 10px 0 10px;} 
/*start for #8310*/
.ReviewIcon{width:20px; height:16px; background:url(http://image.ceconline.com/T2_post_icon.png) 0px -105px no-repeat; display:block; display:inline-block;vertical-align:middle;}
.CollectIcon{margin-right:3px;width:18px; height:18px; background:url(http://image.ceconline.com/T2_post_icon.png) 0px -165px no-repeat; display:block; display:inline-block;vertical-align:middle}
/*end for #8310*/

/*start #8392*/
.CA_subCon .con .subCat td{width:auto;}
/*end #8392*/

/*start #8192*/
.newshare_WeChat{background:url(http://image.ceconline.com/social_icons.png) no-repeat 0px -299px; overflow:hidden;}
#weixin_top{z-index:1; position:absolute;left:-98px;top:-115px;}
#weixin_bottom{z-index:1; position:absolute;left:-98px;top:-115px;}
#weixin_right{width:200px;height:80px;z-index:999;padding-right:8px;position:absolute; right:63px; bottom:40px; display:none;
_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:350px; }
.message-box{position:relative;width:205px;height:85px; padding:10px;background:#FFFFFF;color:#000000; border:solid 1px #cccccc;}
.message-box span{width:110px; line-height:26px; text-align:left; padding-top:15px; float:left;}
.message-box img{width:85px; height:85px; border:none; float:right;}
.triangle-border{position:absolute;left:100px; top:105px;overflow:hidden;width:0;height:0;border-width:8px;border-style:solid dashed dashed dashed;}
.tb-border{bottom:-20px;border-color:#000000 transparent transparent transparent;}
.tb-background{bottom:-19px;border-color:#ffffff transparent transparent transparent;}
.triangle-border-right{position:absolute;left:225px; top:30px;overflow:hidden;width:0;height:0;border-width:8px;border-style:dashed dashed dashed solid;}
.tb-border-right{bottom:-20px;border-color:transparent transparent transparent #000000;}
.tb-background-right{bottom:-19px;border-color:transparent transparent transparent #ffffff;}
.new_logout{width:630px; font-size:12px;}
.new_logout span{font-size:14px; font-weight:bold;}
.new_logout a img{float:right;}
.new_logout_content{width:628px; background:#f8f8f8; border:solid 1px #d9d9d9;}
.new_logout_left{width:420px;  padding-right:15px; border-right:solid 1px #d9d9d9; margin:15px 35px; display:inline; float:left;}
.new_logout_right{width:85px; height:85px; margin-top:28px; display:inline; float:left;}
.new_logout_left dl{ margin:0px; padding:0;}
.new_logout_left dl dd{margin:0; padding:0; float:left; line-height:30px; height:30px;}
.new_logout_left .log_username{width:55px;}
.new_logout_left .log_password{width:40px;}
.new_logout_left .log_textbox{width:170px;position:relative}
.new_logout_left .log_botton{width:65px;}
.new_logout_left .log_Remember{width:170px; }
.new_logout_left .log_Forget{width:170px; }
.new_logout .Remind_txt{padding:10px 0;font-size:14px; font-weight:bold; line-height:30px;}
.logInput{width: 150px; height: 20px;line-height:20px}
.logInputOn{color:#999}
/*end #8192*/

/*start for #8226*/
.CA_subNav{position:relative;}
.Sub_icon{width:120px; height:16px; position:absolute; right:0; top:2px; color:#666666;}
.Subscription{width:30px; height:16px;background:url(http://image.ceconline.com/T2_post_icon.png) 0px -125px no-repeat; float:left; display:block;}
.Subscribed{width:30px; height:16px;background:url(http://image.ceconline.com/T2_post_icon.png) 0px -145px no-repeat; float:left; display:block;}
.popup_login_shadow{width:396px; height:360px; background:#FFFFFF; border:solid 1px #999999; -webkit-box-shadow:0 0 10px rgba(102, 102, 102, .5); -moz-box-shadow:0 0 10px rgba(102, 102, 102, .5); box-shadow:0 0 10px rgba(102, 102, 102, .5); padding:1px;}
.popup_login_title{width:366px; height:42px; padding:0px 15px; background:#e4e7f6; line-height:42px; font-size:14px;}
.popup_login_from{width:350px; margin:0 auto;}
.popup_login_from .from_error{display:block;display:block;min-height:14px;height:auto;_height:14px;padding:8px 0;line-height:14px;font-size:12px;color:#fc4343;}
.popup_login_from p{margin:0px; padding:0px;margin-bottom:15px;line-height:26px; position:relative;}
.popup_login_from .text_c{text-align:center;}
.popup_input{box-sizing: content-box;width:320px; height:20px; color:#666666; padding:10px 0px 10px 30px;}
.popup_inputUser{width:20px; height:20px; margin:10px 8px; background:url(http://image.ceconline.com/T2_btn.png) 0px -566px no-repeat; position:absolute;}
.popup_inputPassword{width:20px; height:20px; margin:10px 8px; background:url(http://image.ceconline.com/T2_btn.png) -40px -566px no-repeat; position:absolute;}
.popup_loginbotton{width:122px; height:35px; border:none; cursor:pointer; background:url(http://image.ceconline.com/T2_btn.png) 0px -523px no-repeat;}
/*end for #8226*/

.art_relCont{padding:10px 0;border-top:2px solid #039}
.art_relCont .CA_weixin{width:310px}
.CA_wenz{padding:0 10px;width:290px;border-left:1px dashed #ccc}
.art_relCont .art_relTit{font-size:14px;font-family:"微软雅黑","SimSun","宋体","Arial";}
.commentBtn{padding:15px 0;text-align:right}
.commentBtn a{display:inline-block;padding:0 20px;line-height:30px;font-weight:bold;background:url(http://image.ceconline.com/navMenu.png) repeat-x 0 -160px}
.commentBtn a:link, .commentBtn a:hover{color:#fff}
.commentBtnDis a:link, .commentBtnDis a:hover{background:#eee;color:#666;border:1px solid #ccc;cursor:text}
.commentBtnDis span{background:#eee;color:#666;border:1px solid #ccc;cursor:text;padding:8px 20px;font-weight:bold}
.commentBtn input{vertical-align:middle}
.article_NewShare{position:absolute;right:0;top:5px;*top:8px}
.origIcon{display:inline-block;width:36px;height:18px;line-height:18px;font-size:12px;background-color:#06c;vertical-align:middle;color:#fff;font-style:normal;font-family:"微软雅黑","SimSun","宋体","Arial";text-align:center}
.CA_articleTitle .origIcon{width:47px;height:24px;line-height:24px}
.fixedTop{display:none;position:fixed;left:50%;top:50%;margin:85px 0 0 500px;width:44px;height:47px;background:url(http://image.ceconline.com/T2_btn.png) no-repeat 0 -465px;vertical-align:middle;font-size:0;line-height:0;cursor:pointer}
.fixedTop:hover{background-position:-50px -465px}
.log_textbox .pwdTips{position:absolute;left:3px;top:0;font-size:12px;color:#999;line-height:24px}
/*=S arrow css */
.downArrow, .upArrow, .leftArrow, .rightArrow{width:0; height:0; font-size:0; line-height:0; border-width:5px; zoom:1; display:inline-block; vertical-align:middle; overflow:hidden;}
.downArrow{border-color:#333 transparent transparent; border-style:solid dashed dashed;}
.upArrow{border-color:transparent transparent #333; border-style:dashed dashed solid;}
.rightArrow{border-color:transparent transparent transparent #333; border-style:dashed dashed dashed solid;}
.leftArrow{border-color:transparent #333 transparent transparent; border-style:dashed solid dashed dashed;}
a:hover .downArrow{border-color:#c00 transparent transparent;}
a:hover .upArrow{border-color:transparent transparent #c00;}
a:hover .rightArrow{border-color:transparent transparent transparent #c00;}
a:hover .leftArrow{border-color:transparent #c00 transparent transparent;}
/*=E arrow css */

/*=S share css */
.CA_main{margin:0;padding:0;}
.CA_main .CA_list{padding:0 0 25px 30px;position:relative; height:115px; display:block;}
.CA_main .CA_list dt{height:42px; line-height:18px;font-weight:700; font-size:14px; color:#403c80; padding-left:165px;padding-top:10px;}
.CA_main .CA_list dt span {float:right;font-weight:normal;}
.CA_main .CA_list .txt {height:32px; line-height:18px;font-size:12px; padding-left:165px;}
.CA_main .CA_list .mark { line-height:18px;padding-left:165px; color:#606060;width:468px;margin-top:8px;display: block;}
.CA_main .CA_list .bg img{position:absolute; top:10px; left:0;}
#more{color:#403c80; line-height:50px; font-size:14px;padding-left:45%;cursor:pointer;}
.article_Share{color:#000000;margin-top:20px;line-height:16px;height:16px;border-top:#cccccc 1px dashed;font-size:12px;margin-right:-24px;display:inline;border:none;float:right;padding:0 0 0 12px;}
.article_Share ul{width:120px; float:left;}
.article_Share li {list-style:none;float:left;padding:0;margin-right:5px;}
.article_Share li a {display:block;width:24px;height:24px;}
.share_Icon{display:inline-block;width:24px;height:17px;margin-right:-9px}
.share_chat{background:url(http://image.ceconline.com/ShareIcon.png) no-repeat;background-position:0 -71px;position:relative;}
.share_txt{color:#666;vertical-align:6px;*vertical-align:2px;}
#weixin_A, #weixin_B, #weixin_C, #weixin_C, #weixin_D, #weixin_E, #weixin_F, #weixin_G, #weixin_H, #weixin_I, #weixin_J, #weixin_K, #weixin_L, #weixin_M, #weixin_N, #weixin_O, #weixin_P, #weixin_Q, #weixin_R{z-index:1; position:absolute; left:-90px;top:-115px;display:none;}
.tb{position:absolute; bottom:-15px; left:70px; height:15px; width:80px;}
.f_wr{font-family:"Microsoft YaHei","宋体";}
/*=E share css */
/*=s main*/
.content_left {float:left;margin:0 8px 0 0;position:relative;width:680px;}
dl.show{display: block;}
dl.hidden{display: none;}
#demo{line-height:18px;color:black;margin:0;padding:0;}
/*=E main*/
/*=S alert subscribe banner */
.alertPromoWrap{position:fixed;width:100%;left:-100%;bottom:0;transition:left 0.8s ease 0s;z-index:100;}
.alertPromo{position:relative;width:100%;color:#fff;}
.alertPromo .close, .alertPromo .passIcon, .alertPromo .alertErr:before{background-image:url(http://image.ceconline.com/alertPromo_icon.png);background-repeat:no-repeat;display:inline-block;}
.alertPromo .small{display:block;left:100%;position:absolute;cursor:pointer;transition:left 0.8s ease 0.4s;}
.alertPromo .big{width:100%;height:130px;background-repeat:no-repeat;background-position:center bottom;background-image:linear-gradient(90deg,rgba(2,49,85,.8),rgba(2,49,85,.8))}
.alertPromo .con{display:block;width:990px;margin:0 auto;position:relative;}
.alertPromo .text{display:block;margin-left:580px;font-size:14px;color:#fff;padding-top:25px;}
.alertPromo .opt{display:inline-block;margin-right:42px;}
.alertPromo .chk{vertical-align:middle;}
.alertPromo .opt span{display:inline-block;vertical-align:middle;margin-left:5px;}
.alertPromo .row{display:block;margin-top:10px;}
.alertPromo .alertErr{display:block;margin-top:5px;font-size:12px;position:relative;padding-left:20px;color:#fc3;}
.alertPromo .alertErr:before{content:'';background-position:-60px 0;width:16px;height:16px;display:inline-block;vertical-align:middle;position:absolute;left:0;top:0;}
.alertPromo .email{width:220px;padding:0 20px 0 5px;border:1px solid #ccc;height:28px;line-height:28px;font-family:inherit;vertical-align:middle}
.alertPromo .passIcon{background-position:-40px 0;width:16px;height:16px;display:inline-block;margin:0 7px 0 -25px;vertical-align:middle;}
.alertPromo .tip{color:#999;}
.alertPromo .subscribe{display:inline-block;background:#fc3;color:#000;padding:8px 16px;line-height:1;border:0;border-radius:4px;cursor:pointer;margin-left:15px;font-family:inherit;}
.alertPromo .close{display:block;position:absolute;width:20px;height:20px;right:15px;top:10px;cursor:pointer;background-position:0 0;z-index:999}
.alertPromo .close:hover{background-position:-20px 0;}
.alertPromoWrap.opened{left:0;transition-delay:0.4s;min-width:990px;}
.alertPromoWrap.opened .small{left:-190px;transition-delay:0s;}
/*=E alert subscribe banner */

/*=S MR#9920 validate popup*/

.cec_validatePop{width:340px;text-align:center;background:#fff;display:none;}
.cec_validatePop2{width:340px;text-align:center;background:#fff;display:none;}
.cec_validateCon{padding:28px;display:inline-block;}
.cec_validate_close{font-size:0;position:absolute;right:10px;top:10px;color:#999;line-height:1;font-family:"Microsoft YaHei";cursor:pointer;background:url(http://image.ceconline.com/close_btn.png)no-repeat;width:11px;height:11px}
.cec_validate_successIcon{display:inline-block;background:url(http://image.ceconline.com/successIcon.png)no-repeat;display:inline-block;vertical-align:middle;width:28px;height:22px}

.cec_validate_successCon{padding:28px 0}
.cec_validate_successTit{font-size:24px;font-weight:700;}
.cec_validate_btnCon{margin-top:30px}
.cec_validate_btnCon .cec_validate_btn{padding:9px 29px;background:#4e91f3;text-align:center;line-height:1;color:#fff;font-size:14px;display:inline-block;}
.cec_validate_successTit>span{display:inline-block;vertical-align:middle;margin-left:10px}
.cec_validate_successTxt{font-size:12px;color:#999}

/*=E MR#9920 validate popup*/

